@page "/portfolio"
@inject HttpClient Http

<PageTitle>Portfolio</PageTitle>

<h1>Portfolio</h1>

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                <tr>
                    <td><a href="@project.Url" target="_blank">@project.Title</a></td>
                    <td>@project.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Project>? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetFromJsonAsync<List<Project>>("sample-data/projects.json");
    }
}
